<!-- templates/add_vegetable.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Vegetable</title>
    <!-- Bootstrap CSS (agar kerak bo'lsa) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Add Vegetable</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</body>
</html>
